@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

.box-shadow {
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 13%);
}

#app {
    font-family: Gilroy, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-default);
    letter-spacing: -0.2px;
}

button:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

input {
    // display: block;
    // width: 100%;
    padding: 0.375rem 0.75rem;
    margin: 0.375rem 0;
    font-size: 1rem;
    // font-weight: 400;
    line-height: 1.5;
    // color: #212529;
    // background-color: #fff;
    // background-clip: padding-box;
    border: 1px solid #ced4da;

    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// input:focus-visible {
//     // border-color: $color-light-blue-base;
//     border-color: red;
// }
button {
    line-height: 1.5;
    color: $color-white-base;
    background-color: $color-pink-base;
    border-radius: $radius-large;
    border: transparent;
    padding: 0.375rem 0.75rem;
    // margin: 0 0.75rem;
    font-size: 1rem;
    cursor: pointer;
}




button:hover {
    background-color: $color-pink-dark;
}

// .btn-primary:active {
//     background-color: var(--color-pink-light) !important;
// }

.content {
    margin-bottom: 0;
    padding-top: 5rem;
}

.flexbox-container {
    display: flex;
    flex-direction: row;

    align-items: baseline;
    justify-content: space-between;

    align-content: center;
}

.card {
    padding: 1.5rem;
    border-radius: $radius-medium;
    box-shadow: $shadow-small;
    background-color: $color-white-base ;
    margin: 20px;

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}


h3 {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: -1px;
    text-transform: none;
    --top-crop: -0.17em;
    --bottom-crop: -0.24em;
    color: rgb(38, 46, 54);
    text-align: left;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    font-weight: 700;
}