$color-pink-base: #e5007e;
$color-pink-dark: #b3005d;
$color-pink-light: #f8b0cb;
$color-white-base: #fff;
$color-red-base: #d12929;
// $color-light-blue-base: #86b7fe;


$radius-medium: 8px;
$radius-large: 100px;
$shadow-small: 0 3px 17px 0 rgba(33, 33, 33, 0.1);